@media only screen and (max-width:600px){
    button, h1{
        font-size: 4vw; 
    }

    p.questionParagraph {
        font-size: 12pt; 
        padding-bottom: 2%;
    }

    h1#HeaderText{
        font-size:2em; 
    }

    .container{
        width: 100%;
    }

    form{
        font-size:4vw;
        padding: 1%;
    }
}

html {
    height: 100%;
    /* font-size: calc(1em + 1vw); */
    }

h1{
    font-size:4vw;
}

p{
    font-size:2vw;
    padding: 1%;
    text-align: center;
}

form{
    font-size:2vw;
    padding: 1%;
}

body{
    background-image: url(https://i.imgur.com/hJJ7Wty.jpg);
    background-size: cover;
    background-color: rgba(30, 33, 39, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     }

 
.container{
    background-color:rgba(255, 255, 255, 0.9);
    width:70%;
    height: auto;
    margin: auto;
    padding:5%;
    box-shadow: 10px 10px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
      
}

.score{
    width:40%;
    height:auto;
    margin: auto;
    padding:2%;
    float: left;
    margin-bottom: 2%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    color:white;
}

.questionNumber{
    width:40%;
    height:auto;
    margin: auto;
    margin-bottom: 2%;
    padding:2%;
    float: right;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    color:white;
}


    #hidden{
        display: none;
        visibility: hidden;
    }

    .question{
        padding: 3%;
        width: 100%;
        height: auto;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .landing{
        padding: 3%;
        width: 100%;
        height: auto;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    #HeaderText{
        text-align: center;
        margin-top: 0;
    }

    button{
        /* position: center; */
        width: 100%;
        height: inherit;
        padding:2%;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
        background-color: red;
        color:white;
        font-size: 2em; 
    }
   
    input { 
        font-size: 4em;
     }

 

     